.heading {
  color: #000;
  text-align: center;
}

.text-span {
  color: #f50000;
}

.container {
  margin-top: 10px;
  margin-bottom: 53px;
  padding-bottom: 18px;
  border: 1px solid #000;
  border-radius: 12px;
}

.image {
  display: inline-block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 33px;
  text-align: center;
}

.body {
  font-size: 20px;
  line-height: 1.25em;
  text-align: center;
}

.text-block {
  padding-top: 5px;
  font-size: 15px;
}

.div-block {
  width: 40%;
  padding-top: 54px;
}

.text-block-2 {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  width: 50%;
  margin-top: 29px;
  margin-bottom: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #7fa98d;
  box-shadow: 1px 1px 3px 0 #000;
  font-size: 26px;
  font-weight: 700;
}

.paragraph {
  width: 90%;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.paragraph.body-paragraph {
  line-height: 27px;
  text-align: left;
  letter-spacing: 0vh;
}

.footer-dark {
  position: relative;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-copyright-center {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.section {
  margin-top: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #f0f2f4;
}

.paragraph-2 {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  font-size: 12px;
}

.paragraph-2.para-footer {
  margin-bottom: 0px;
  padding-top: 0px;
  line-height: 1em;
}

.subhead {
  margin-bottom: -5px;
  font-size: 15px;
}

.image-2 {
  display: block;
  max-width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.container-4 {
  display: block;
  margin-top: 25px;
  margin-bottom: 29px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: right;
}

.link-block {
  color: #000;
  text-decoration: none;
}

.text-block-3 {
  display: inline-block;
  margin-left: 18px;
  font-size: 15px;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 25px;
    line-height: 29px;
  }

  .image {
    padding-top: 17px;
  }

  .text-block {
    padding-right: 44px;
    padding-left: 47px;
  }

  .text-block.under-vid {
    line-height: 1.2em;
  }

  .button {
    width: 90%;
    padding-right: 7px;
    padding-left: 7px;
    line-height: 1.28em;
    text-shadow: 1px 1px 6px #000;
  }

  .container-2 {
    max-width: none;
  }

  .paragraph-2.para-footer {
    width: 80%;
  }

  .container-3 {
    padding-right: 19px;
    padding-left: 19px;
  }

  .container-4 {
    padding-right: 21px;
    padding-bottom: 0px;
    padding-left: 21px;
  }
}